<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/addMovieData" method="post" enctype="multipart/form-data">
        <input type="text" name="title" placeholder="Enter Movie Title">
        <input type="date" name="date">
        <input type="time" name="time">
        <input type="text" name="location" placeholder="Enter location">
        <input type="file" name="img">
        <input type="number" name="price" placeholder="Enter Price">
        <button type="submit">Add Movie</button>
    </form>
</body>
</html>