<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <%- include("layouts/navbar") %>

<div class="home-container">
    <h1>Welcome to the Blog</h1>
    <p>This is a simple blog project with authentication and role-based access control.</p>
</div>
</body>
</html>
